set autoindent
# ターミナルからコピペするときに邪魔なのでOFF
# set linenumbers

bind ^X cut main
bind ^C copy main
bind ^V paste all
bind ^Q exit all
bind ^S savefile main
bind ^W writeout main
bind ^F whereis all
# ^Hにしたいがバックスペースが死ぬので妥協
# ^Hはバックスペース操作が起きるのでバインド設定のやり直しが必要そう
bind ^R replace main
bind ^G gotoline main
bind ^Z undo main
bind ^Y redo main
bind F3 findnext all
bind F4 findprevious all
